@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	background-color: #E7E7E7;
	font-family: 'Poppins', sans-serif;
	color: #2D2D2D;
	font-size: 14px;
}

.NamaLogo{
	font-size: 30px;
	text-decoration: underline;
}

nav ul li a{
	font-size: 18px;

}

div ul li a:hover{
	text-decoration: underline;
	
}
.navbarNavDropdown{
	font-size: 30;
}
.navbar-nav li{
	margin: 0 10px;
}

footer{
	background: #646464;
	
	font-family: "open sans";
	padding-top: 40px;
	color: #fff;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;

}

.footer-content p{
	max-width: 500px;
	line-height: 28px;
	font-size: 18px;

}

.socials{
	padding-left: 0;
	list-style: none;
	display: flex;
	align-items: center;

}

.socials li{
	margin: 0 10px;

}

.socials a{
	text-decoration: none;
	color: #fff;

}

.socials a i{
	align-items: center;
	font-size: 3 rem;
	transition: color .4s ease;

}

.socials a:hover i{
	color: aqua;
}

.container2{
	margin-top: 30px;
}



.vidiogaming{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #a6a19e;
	padding-left: 40px;
	padding-right: 20px;

}
.container .kolom2{
	display: flex;
	align-items: center;
}
.kolom2 img{
	padding: 20px;
	width: 520px;
	height: auto;
}

.vidio1 {
	display: table-row;
	text-decoration: none;
	font-size: 20px;
	text-align: center;

}

.vidio1 a{
	color: black;
}

.vidio1 .satu{
	background-color: #757575;
	margin-bottom: 30px;
	padding: 15px;
	border-radius: 100px;
}

.vidio1 .dua{
	background-color: #757575;
	padding: 15px;
	border-radius: 100px;
}

.container h1{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 40px;
	text-align: center;
	font-family: poly;
}

.kolom1 h2{
	font-size: 40px;
	font-family: poly;
}


@media only screen and (max-width: 820px){
	.vidiogaming{
		display: grid;
	}	

	.vidio1 {
		font-size: 15px;
		text-align: center;
		justify-content: space-around;

	}
	.kolom2{
		display: flex;
		flex-direction: row;
	}

	.kolom2 img{
		padding: 20px;
		width: 395px;
		height: auto;
	}
}


@media only screen and (max-width: 600px){
	.vidio1 {
		font-size: 10px;
		text-align: center;

	}

	.vidiogaming{
		display: grid;
		justify-content: space-around;
	}
	.kolom2 img{
		width: 200px;
		height: auto;
	}

	.vidio1 .satu{
		background-color: #757575;
		margin-bottom: 20px;
		padding: 5px;
		border-radius: 100px;
	}

	.vidio1 .dua{
		background-color: #757575;
		padding: 5px;
		border-radius: 100px;
	}

	.container h1{
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 20px;

		
	}

	.kolom1 h2{
		font-size: 20px;
		font-family: poly;
		text-align: center;
	}



}

@media only screen and (max-width: 380px){

	.vidio1 .dua{
		font-size: 10px;
		padding: 3px;
	}


}


.navbar{
	background-color: white;
}
.tombol{
	background-color: rgb(166, 208, 248);
	display: flex;
	align-items: center;
	border-radius: 10px;
}





.dark{
	background-color: #2D2D2D;
	color: aliceblue;
}

.dark .navbar{
	background-color: #1d1d1d;
}

.dark .home{
	background-color: #2D2D2D;
}

.dark .NamaLogo{
	color: aliceblue;
}

.dark .dropdown-item{

	background-color: #1d1d1d;
	color: aliceblue;
}
	
.dark .tombol{
	background-color: #4e4900;
	border-radius: 10px;
}

.dark #navbarDropdownMenuLink{
	color: white;
}

.dark #menuhitam{
	color: white;
}

.dark .dropdown-menu{
	background-color: #1d1d1d;
	border: none;
}

.dropdown-menu{
	border: none;
}

.dark .navbar-toggler{
	border-color: white;
}
	
#gambarmenu{
	width: 30px;
	height: auto;
}