@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	background-color: #E7E7E7;
	font-family: 'Poppins', sans-serif;
	color: #2D2D2D;
	font-size: 14px;
}

.NamaLogo{
	font-size: 30px;
	text-decoration: underline;
}

nav ul li a{
	font-size: 18px;

}

div ul li a:hover{
	text-decoration: underline;
	
}
.navbarNavDropdown{
	font-size: 30;
}
.navbar-nav li{
	margin: 0 10px;
}

footer{
	background: #646464;
	
	font-family: "open sans";
	padding-top: 40px;
	color: #fff;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;

}

.footer-content p{
	max-width: 500px;
	line-height: 28px;
	font-size: 18px;

}

.socials{
	padding-left: 0;
	list-style: none;
	display: flex;
	align-items: center;

}

.socials li{
	margin: 0 10px;

}

.socials a{
	text-decoration: none;
	color: #fff;

}

.socials a i{
	align-items: center;
	font-size: 3 rem;
	transition: color .4s ease;

}

.socials a:hover i{
	color: aqua;
}

.container2{
	margin-top: 30px;
}


div p a{
	color: black;
	text-decoration: none;
}

.Videogaming{
	background-color: #a6a19e;
	display: grid;
	grid-template-columns:repeat(auto-fill,minmax(365px,1fr));
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}



.Videovlog{
	background-color: #a6a19e;
	display: grid;
	grid-template-columns:repeat(auto-fill,minmax(365px,1fr));
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	
}

.Videoiklan{
	background-color: #a6a19e;
	display: grid;
	grid-template-columns:repeat(auto-fill,minmax(365px,1fr));
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;

}

.kolom1 iframe{
	width: 395px;
	height: 222px;
}

.kolom2 iframe{
	width: 395px;
	height: 222px;
}

.kolom3 iframe{
	width: 395px;
	height: 222px;
}
section h1{
	font-family: poly;
}

@media only screen and (max-width: 810px){
	.kolom1 iframe{
		max-width: 100%;
		height: auto;

	}

	.kolom2 iframe{
		max-width: 100%;
		height: auto;
	}

	.kolom3 iframe{
		max-width: 100%;
		height: auto;
	}
}


@media only screen and (max-width: 600px){
	.kolom1 iframe{
		max-width: 100%;
		height: auto;
	}

	.kolom2 iframe{
		max-width: 100%;
		height: auto;
	}

	.kolom3 iframe{
		max-width: 100%;
		height: auto;
	}
}

.navbar{
	background-color: white;
}
.tombol{
	background-color: rgb(166, 208, 248);
	display: flex;
	align-items: center;
	border-radius: 10px;
}





.dark{
	background-color: #2D2D2D;
	color: aliceblue;
}

.dark .navbar{
	background-color: #1d1d1d;
}

.dark .home{
	background-color: #2D2D2D;
}

.dark .NamaLogo{
	color: aliceblue;
}

.dark .dropdown-item{

	background-color: #1d1d1d;
	color: aliceblue;
}



.dark .tombol{
	background-color: #4e4900;
	border-radius: 10px;
}

.dark .Videogaming{
	background-color: #3d3d3d;;
}

.dark .Videovlog{
	background-color: #3d3d3d;;
}

.dark .Videoiklan{
	background-color: #3d3d3d;;
}

.dark div p a{
	color: #E7E7E7;
}


.dark #navbarDropdownMenuLink{
	color: white;
}

.dark #menuhitam{
	color: white;
}

.dark .dropdown-menu{
	background-color: #1d1d1d;
	border: none;
}

.dropdown-menu{
	border: none;
}

.dark .navbar-toggler{
	border-color: white;
}
	
#gambarmenu{
	width: 30px;
	height: auto;
}